* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.icon {
  width: 12px;
}

/* Button styles */
a.is-button {
  text-decoration: none;
}

.is-button {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 32px;
  margin: 5px 0;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 32px;
}

/* Color Styles */
.is-blue {
  background-color: #2980b9;
}

.is-green {
  background-color: #2ecc71;
}

.is-red {
  background-color: #ec524b;
}

/* text-align styles */
.has-text-centered {
  text-align: center;
}

.has-text-justified {
  text-align: justify;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

/* text-weight styles */
.has-text-weight-normal {
  font-weight: 400;
}

.has-text-weight-semibold {
  font-weight: 600;
}

.has-text-weight-bold {
  font-weight: 900;
}

/* flex styles */
.is-display-flex {
  display: flex;
}

.is-justify-content-center {
  justify-content: center;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-justify-content-space-around {
  justify-content: space-around;
}

.is-align-items-center {
  align-items: center;
}

/* Misc Styles */
.is-clickable {
  cursor: pointer;
}

.is-unselectable {
  user-select: none;
}
