.navbar {
  background-color: #3498db;
  height: 93px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0;
  }

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
  }

  div {
    position: relative;
  }

  span {
    position: absolute;
    left: 28px;
    background-color: #df4d3f;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 100%;
  }
}
