* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.icon {
  width: 12px;
}

/* Color Styles */
.is-blue {
  background-color: #2980b9;
}

.is-green {
  background-color: #2ecc71;
}

/* text-align styles */
.has-text-centered {
  text-align: center;
}

.has-text-justified {
  text-align: justify;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

/* text-weight styles */
.has-text-weight-semibold {
  font-weight: 600;
}

.has-text-weight-bold {
  font-weight: 900;
}
